.Education {
    display: flex;
    div:first-child h4 {
        margin-right: 5px;
    }
}
.Education div:last-child div:last-child p:last-child {
    margin-bottom: 0;
}

.Education > div {
    width: 50%;
    display: block;
    background-color: #ffffff;
}

.Education ul {
    padding-left: 10px;
}

.Education li {
    list-style: none;
    text-align: left;
}
